@font-face {
  font-family: "Japanese";
  src: url("../assets/font/Japanese 3017.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Qanelas";
  src: url("../assets/font/Qanelas.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body,
.app {
  overflow: hidden;
}

.app {
  width: 100vw;
  height: 100vh;
  background: url("../assets/img/background.png") no-repeat 50% 82%;
  background-color: rgb(34, 0, 27);
  color: #fff;
}

.contentWrapper {
  position: relative;
  z-index: 5;
}
