.coinsBlock {
   width: 88vw;
   height: 11vh;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 15% auto 0;
   background: url("../../assets/img/balance-background.png") right no-repeat;
   background-color: #66496d;
   border: 1px solid #fff;
   border-radius: 20px;
   font-family: Japanese, sans-serif;
   font-size: 48px;
   margin-bottom: 4vh;
}
